<configuration debug="false" scan="false">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
		<encoder>
			<pattern>[%level] %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>target/junit.log</file>
		<append>false</append>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %.-1level %msg - %logger%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE-JDBC-SQL" class="ch.qos.logback.core.FileAppender">
		<file>target/junit-jdbc-sql.log</file>
		<append>false</append>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %.-1level %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE-JDBC-STATISTICS" class="ch.qos.logback.core.FileAppender">
		<file>target/junit-jdbc-statistics.log</file>
		<append>false</append>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %msg%n</pattern>
		</encoder>
	</appender>
	
	<logger name="cloud.altemista.fwk.jdbc.sql" level="INFO" additivity="false">
		<appender-ref ref="FILE-JDBC-SQL" />
	</logger>
	
	<logger name="cloud.altemista.fwk.jdbc.statistics" level="DEBUG" additivity="false">
		<appender-ref ref="FILE-JDBC-STATISTICS" />
	</logger>
	
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
	
</configuration>
