<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="cloud-altemistafwk-plugin-eclipse"
            name="ALTEMISTA Cloud Framework(ACF)">
      </category>
      <wizard
            category="cloud-altemistafwk-plugin-eclipse"
            class="cloud.altemista.fwk.plugin.eclipse.wizard.NewApplicationWizard"
            icon="icons/application-new.png"
            id="cloud-altemistafwk-plugin-eclipse.NewApplicationWizard"
            name="New ALTEMISTA Cloud Framework(ACF) application">
      </wizard>
   </extension>
   
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="cloud-altemistafwk-plugin-eclipse.contribution1"
            objectClass="org.eclipse.core.resources.IProject">
         <menu
               icon="icons/application.png"
               id="cloud-altemistafwk-plugin-eclipse.menu"
               label="ALTEMISTA Cloud Framework(ACF)"
               path="additions">
            <separator
                  name="group">
            </separator>
         </menu>
         <action
               class="cloud.altemista.fwk.plugin.eclipse.action.ExamineAction"
               enablesFor="1"
               icon="icons/application-examine.png"
               id="cloud-altemistafwk-plugin-eclipse.examineAction.1"
               label="Examine project..."
               menubarPath="cloud-altemistafwk-plugin-eclipse.menu/group">
         </action>
         <action
               class="cloud.altemista.fwk.plugin.eclipse.action.NewBusinessModuleAction"
               enablesFor="1"
               icon="icons/business-module-new.png"
               id="cloud-altemistafwk-plugin-eclipse.newBusinessModuleAction.1"
               label="New business module..."
               menubarPath="cloud-altemistafwk-plugin-eclipse.menu/group">
         </action>
         <action
               class="cloud.altemista.fwk.plugin.eclipse.action.AddFeatureAction"
               enablesFor="1"
               icon="icons/feature-new.png"
               id="cloud-altemistafwk-plugin-eclipse.addFeatureAction.1"
               label="Add feature..."
               menubarPath="cloud-altemistafwk-plugin-eclipse.menu/group">
         </action>
      </objectContribution>
      <objectContribution
            id="cloud-altemistafwk-plugin-eclipse.contribution.2"
            objectClass="org.eclipse.jdt.core.IJavaProject">
         <!-- This objectContribution allows the popupMenu in the module projects in Package Explorer -->
         <menu
               icon="icons/application.png"
               id="cloud-altemistafwk-plugin-eclipse.menu.2"
               label="ALTEMISTA Cloud Framework(ACF)"
               path="additions">
            <separator
                  name="group">
            </separator>
         </menu>
         <action
               class="cloud.altemista.fwk.plugin.eclipse.action.ExamineAction"
               enablesFor="1"
               icon="icons/application-examine.png"
               id="cloud-altemistafwk-plugin-eclipse.examineAction.2"
               label="Examine project..."
               menubarPath="cloud-altemistafwk-plugin-eclipse.menu.2/group">
         </action>
         <action
               class="cloud.altemista.fwk.plugin.eclipse.action.NewBusinessModuleAction"
               enablesFor="1"
               icon="icons/business-module-new.png"
               id="cloud-altemistafwk-plugin-eclipse.newBusinessModuleAction.2"
               label="New business module..."
               menubarPath="cloud-altemistafwk-plugin-eclipse.menu.2/group">
         </action>
         <action
               class="cloud.altemista.fwk.plugin.eclipse.action.AddFeatureAction"
               enablesFor="1"
               icon="icons/feature-new.png"
               id="cloud-altemistafwk-plugin-eclipse.addFeatureAction.2"
               label="Add feature..."
               menubarPath="cloud-altemistafwk-plugin-eclipse.menu.2/group">
         </action>
      </objectContribution>
   </extension>

</plugin>
