<server description="test server">

	<!-- Enable features -->
	<featureManager>
		<!-- Does not include jsf-2.2 because the application is providing the implementation (PrimeFaces) -->
		<feature>localConnector-1.0</feature>
		<feature>jsp-2.3</feature>
		<feature>servlet-3.1</feature>
	</featureManager>

</server>
