<configuration debug="false" scan="false">

	<!--
		Logback will try to configure itself using the files logback-test.xml or logback.xml if found on the class path.
		In order to minimize noise in the console when executing unit tests (specially via Maven or Jenkins),
		this logback-test.xml replaces the default configuration, which is too verbose,
		until LogbackMultienvConfigurator loads the proper configuration (classpath:logback/logback.xml)
	 -->

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%level] %msg%n</pattern>
		</encoder>
	</appender>
	
	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
	
</configuration>